apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "atlas-operator.fullname" . }}-manager-role
  labels:
  {{- include "atlas-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - db.atlasgo.io
  resources:
  - atlasmigrations
  - atlasschemas
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - db.atlasgo.io
  resources:
  - atlasmigrations/finalizers
  - atlasschemas/finalizers
  verbs:
  - update
- apiGroups:
  - db.atlasgo.io
  resources:
  - atlasmigrations/status
  - atlasschemas/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "atlas-operator.fullname" . }}-manager-rolebinding
  labels:
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: atlas-operator
    app.kubernetes.io/part-of: atlas-operator
  {{- include "atlas-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: '{{ include "atlas-operator.fullname" . }}-manager-role'
subjects:
- kind: ServiceAccount
  name: '{{ include "atlas-operator.serviceAccountName" . }}'
  namespace: '{{ .Release.Namespace }}'
