{{- if .Values.rbac.aggregateClusterRoles }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "atlas-operator.fullname" . }}-view
  labels:
    rbac.authorization.k8s.io/aggregate-to-view: "true"
    rbac.authorization.k8s.io/aggregate-to-edit: "true"
    rbac.authorization.k8s.io/aggregate-to-admin: "true"
    {{- include "atlas-operator.labels" . | nindent 4 }}
rules:
  - apiGroups: ["db.atlasgo.io"]
    resources: ["atlasmigrations", "atlasmigrations/status", "atlasschemas", "atlasschemas/status"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "atlas-operator.fullname" . }}-edit
  labels:
    rbac.authorization.k8s.io/aggregate-to-edit: "true"
    rbac.authorization.k8s.io/aggregate-to-admin: "true"
    {{- include "atlas-operator.labels" . | nindent 4 }}
rules:
  - apiGroups: ["db.atlasgo.io"]
    resources: ["atlasmigrations", "atlasschemas"]
    verbs: ["create", "delete", "patch", "update"]
  - apiGroups: ["db.atlasgo.io"]
    resources: ["atlasmigrations/status", "atlasschemas/status"]
    verbs: ["get", "patch", "update"]
{{- end }}
