{{- with .Cloud }}
atlas {
  cloud {
    token = "{{ .Token }}"
  {{- if .URL }}
    url = "{{ .URL }}"
  {{- end }}
  {{- if .Project }}
    project = "{{ .Project }}"
  {{- end }}
  }
}
{{- with .RemoteDir }}
data "remote_dir" "this" {
  name = "{{ .Name }}"
  {{- if .Tag }}
  tag = "{{ .Tag }}"
  {{- end }}
}
{{- end }}
{{- end }}
env {
  name = atlas.env
  url = "{{ .URL }}"
  migration {
{{- with .Cloud }}
    dir = data.remote_dir.this.url
{{- end }}
{{- with .Migration }}
    dir = "{{ .Dir }}"
{{- end }}
  }
}