{{- with .Cloud }}
atlas {
  cloud {
    {{- if .URL }}
      url = "{{ .URL }}"
    {{- end }}
      token = "{{ .Token }}"
    {{- if .Project }}
      project = "{{ .Project }}"
    {{- end }}
  }
}
{{- end }}

{{- with .Data }}
  {{- with .RemoteDir }}
    data "remote_dir" "this" {
      name = "{{ .Name }}"
      {{- if .Tag }}
        tag = "{{ .Tag }}"
      {{- end }}
    }
  {{- end }}
{{- end }}

env {
  name = atlas.env
  url = "{{ .URL }}"
  migration {
    {{- if .Migration.Dir }}
      dir = "{{ .Migration.Dir }}"
    {{- end }}
    {{- if .Cloud.Token }}
      dir = data.remote_dir.this.url
    {{- end }}
  }
}