{{- with .Cloud }}
atlas {
  cloud {
    token = "{{ .Token }}"
  {{- if .URL }}
    url = "{{ .URL }}"
  {{- end }}
  {{- if .Project }}
    project = "{{ .Project }}"
  {{- end }}
  }
}
{{- if .HasRemoteDir }}
{{- with .RemoteDir }}
data "remote_dir" "this" {
  name = "{{ .Name }}"
  {{- if .Tag }}
  tag = "{{ .Tag }}"
  {{- end }}
}
{{- end }}
{{- end }}
{{- end }}
env {
  name = atlas.env
  url = "{{ removeSpecialChars .URL }}"
  migration {
{{- if .Cloud.HasRemoteDir }}
    dir = data.remote_dir.this.url
{{- else }}
    dir = "file://migrations"
{{- end }}
{{- if .ExecOrder }}
    exec_order = {{ hclValue .ExecOrder }}
{{- end }}
{{- if .Baseline }}
    baseline = "{{ .Baseline }}" 
{{- end }}
{{- if .RevisionsSchema }}
    revisions_schema = "{{ .RevisionsSchema }}" 
{{- end }}
  }
}