apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  selector:
    matchLabels:
      "app.kubernetes.io/name": "atlas-dev-db"
      "app.kubernetes.io/instance": "{{ .Name }}"
      "app.kubernetes.io/part-of": "atlas-operator"
      "app.kubernetes.io/created-by": "controller-manager"
      "atlasgo.io/engine": "{{ .Driver }}"
  replicas: 1
  template:
    metadata:
      labels:
        "app.kubernetes.io/name": "atlas-dev-db"
        "app.kubernetes.io/instance": "{{ .Name }}"
        "app.kubernetes.io/part-of": "atlas-operator"
        "app.kubernetes.io/created-by": "controller-manager"
        "atlasgo.io/engine": "{{ .Driver }}"
      annotations:
        "atlasgo.io/conntmpl": "{{ .ConnTmpl }}"
    spec:
      {{- if ne .Driver "sqlserver" }}
      securityContext:
        runAsNonRoot: true
        runAsUser: {{ .UID }}
      {{- end }}
      containers:
        - name: {{ .Driver }}
          {{- if ne .Driver "sqlserver" }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          {{- end }}
          {{- if eq .Driver "mysql" }}
          image: mysql:8
          env:
          - name: MYSQL_ROOT_PASSWORD
            value: pass
          {{- if .SchemaBound }}
          - name: MYSQL_DATABASE
            value: {{ .DB }}
          {{- end }}
          {{- else if eq .Driver "postgres" }}
          image: postgres:15
          env:
            - name: POSTGRES_DB
              value: {{ .DB }}
            - name: POSTGRES_PASSWORD
              value: pass
            - name: POSTGRES_USER
              value: root
          {{- else if eq .Driver "sqlserver" }}
          image: mcr.microsoft.com/mssql/server:2022-latest
          env:
            - name: ACCEPT_EULA
              value: "Y"
            - name: MSSQL_PID
              value: "Developer"
            - name: MSSQL_SA_PASSWORD
              value: {{ .Pass }}
          {{- end }}
          ports:
          - containerPort: {{ .Port }}
            name: {{ .Driver }}

