env {
  name = atlas.env
  {{- if .URL }}
  url = "{{ .URL }}"
  {{- end }}
  migration {
    {{- if .Migration.Dir }}
    dir = "{{ .Migration.Dir }}"
    {{- end }}
    {{- if .Cloud.Token }}
    dir = data.remote_dir.this.url
    {{- end }}
  }
}

{{- if .Cloud.Token }}
atlas {
  cloud {
    {{- if .Cloud.URL }}
    url = "{{ .Cloud.URL }}"
    {{- end }}
    token = "{{ .Cloud.Token }}"
    {{- if .Cloud.Project }}
    project = "{{ .Cloud.Project }}"
    {{- end }}
  }
}
{{- end }}

{{- if .Data.RemoteDir.Name }}
data "remote_dir" "this" {
  name = "{{ .Data.RemoteDir.Name }}"
  {{- if .Data.RemoteDir.Tag }}
  tag = "{{ .Data.RemoteDir.Tag }}"
  {{- end }}
}
{{- end }}