{{- with .Cloud }}
atlas {
  cloud {
    token = "{{ .Token }}"
  {{- if .URL }}
    url = "{{ .URL }}"
  {{- end }}
  {{- if .Project }}
    project = "{{ .Project }}"
  {{- end }}
  }
}
{{- end }}
env {
  name = atlas.env
  url  = "{{ removeSpecialChars .URL }}"
  dev  = "{{ removeSpecialChars .DevURL }}"
  migration {
    dir = "{{ .DirURL }}"
{{- if .ExecOrder }}
    exec_order = {{ hclValue .ExecOrder }}
{{- end }}
{{- if .Baseline }}
    baseline = "{{ .Baseline }}" 
{{- end }}
{{- if .RevisionsSchema }}
    revisions_schema = "{{ .RevisionsSchema }}" 
{{- end }}
  }
}