variable "lint_destructive" {
  type    = bool
  default = false
}
variable "lint_review" {
  type    = string
  default = ""
}
{{- with .Policy }}
  {{- with .Diff }}
  {{- if or .ConcurrentIndex .Skip }}
diff {
  {{- with .ConcurrentIndex }}
  concurrent_index {
  {{- if .Create }}
    create = true
  {{- end }}
  {{- if .Drop }}
    drop = true
  {{- end }}
  }
  {{- end }}
  {{- with .Skip }}
  skip {
    {{- if .AddSchema }}
    add_schema = true
    {{- end }}
    {{- if .DropSchema }}
    drop_schema = true
    {{- end }}
    {{- if .ModifySchema }}
    modify_schema = true
    {{- end }}
    {{- if .AddTable }}
    add_table = true
    {{- end }}
    {{- if .DropTable }}
    drop_table = true
    {{- end }}
    {{- if .ModifyTable }}
    modify_table = true
    {{- end }}
    {{- if .AddColumn }}
    add_column = true
    {{- end }}
    {{- if .DropColumn }}
    drop_column = true
    {{- end }}
    {{- if .ModifyColumn }}
    modify_column = true
    {{- end }}
    {{- if .AddIndex }}
    add_index = true
    {{- end }}
    {{- if .DropIndex }}
    drop_index = true
    {{- end }}
    {{- if .ModifyIndex }}
    modify_index = true
    {{- end }}
    {{- if .AddForeignKey }}
    add_foreign_key = true
    {{- end }}
    {{- if .DropForeignKey }}
    drop_foreign_key = true
    {{- end }}
    {{- if .ModifyForeignKey }}
    modify_foreign_key = true
    {{- end }}
  }
  {{- end }}
}
  {{- end }}
{{- end }}
{{- end }}
env {
  name = atlas.env
  url  = "{{ removeSpecialChars .URL }}"
  dev  = "{{ removeSpecialChars .DevURL }}"
  schemas = {{ slides .Schemas }}
  exclude = {{ slides .Exclude }}
  lint {
    destructive {
      error = var.lint_destructive
    }
    review = var.lint_review != "" ? var.lint_review : null
  }
}
