name: Integration Tests
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20'
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Generate
        run: make generate manifests chart-manifests
        shell: bash
      - name: Run Go mod tidy
        run: go mod tidy
      - name: Verify generated files are checked in properly
        run: |
          status=$(git status --porcelain)
          if [ -n "$status" ]; then
            echo "you need to run 'make generate manifests' and commit the changes"
            echo "$status"
            exit 1
          fi
        shell: bash
      - name: Run tests
        run: go test ./... -race
        shell: bash
      - name: start minikube
        id: minikube
        uses: medyagh/setup-minikube@master
      - name: "Install Skaffold"
        run: |
          curl -Lo skaffold https://storage.googleapis.com/skaffold/releases/v2.3.1/skaffold-linux-amd64 && \
          sudo install skaffold /usr/local/bin/
      - name: Start environment
        run: |
          make install # Install CRDs into the cluster
          skaffold run --wait-for-connection=true
      - name: Integration test
        run: |
          # Create a table not described in the desired schema but excluded from it.
          kubectl exec -it $(kubectl get pods -l app=mysql -o jsonpath='{.items[0].metadata.name}') -- mysql -uroot -ppass -e "create myapp.ignore_me"
          
          # Apply the desired schema and wait for it to be ready.
          kubectl -k apply -f config/integration
          kubectl wait --for=condition=ready --timeout=120s atlasschemas --all
          
          # Expect the excluded table to be present.
          kubectl exec -it $(kubectl get pods -l app=mysql -o jsonpath='{.items[0].metadata.name}') -- mysql -uroot -ppass -e "describe myapp.ignore_me"
