name: Integration Tests
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20'
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Generate
        run: make generate manifests
        shell: bash
      - name: Run Go mod tidy
        run: go mod tidy
      - name: Verify generated files are checked in properly
        run: |
          status=$(git status --porcelain)
          if [ -n "$status" ]; then
            echo "you need to run 'make generate manifests' and commit the changes"
            echo "$status"
            exit 1
          fi
        shell: bash
      - name: start minikube
        id: minikube
        uses: medyagh/setup-minikube@master
        with:
          extra-config: 'kubelet.max-pods=10'
      - name: "Install Skaffold"
        run: |
          curl -Lo skaffold https://storage.googleapis.com/skaffold/releases/v2.3.1/skaffold-linux-amd64 && \
          sudo install skaffold /usr/local/bin/
      - name: Start environment
        run: |
          skaffold run --wait-for-connection=true

