name: Push Images
on:
  workflow_dispatch:
  push:
    branches:
      - master
    tags:
      - "v*"
jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ secrets.DOCKERHUB_USERNAME }}/atlas-operator
          labels: |
            org.opencontainers.image.title=atlas-operator
            org.opencontainers.image.description=Atlas Operator
            org.opencontainers.image.url=https://atlasgo.io
            org.opencontainers.image.vendor=Ariga
            org.opencontainers.image.source=https://github.com/ariga/atlas-operator/blob/master/Dockerfile
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          build-args: |
            OPERATOR_VERSION=${{ steps.meta.outputs.version }}
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: true
