name: Push Images
on:
  workflow_dispatch:
  push:
    branches:
      - master
    tags:
      - "v*"
jobs:
  calculate_tag:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.calculate_tag.outputs.tag }}
    steps:
      - name: Calculate tag
        id: calculate_tag
        run: |
          if [ "${{ github.ref }}" = "refs/heads/master" ]; then
            echo "::set-output name=tag::latest"
          elif [[ "${{ github.ref }}" =~ ^refs/tags/v(.+)$ ]]; then
            echo "::set-output name=tag::${BASH_REMATCH[1]}"
          fi
  push:
    needs: calculate_tag
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/atlas-operator:${{ needs.calculate_tag.outputs.tag }}
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          labels: |
            org.opencontainers.image.title=atlas-operator
            org.opencontainers.image.description=Atlas Operator
            org.opencontainers.image.url=https://atlasgo.io
            org.opencontainers.image.vendor=Ariga
            org.opencontainers.image.source=https://github.com/ariga/atlas-operator/blob/master/Dockerfile
